<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About StrangeFlix</title>
    <link rel="stylesheet" href="../static/css/aboutUs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="top">
        <header>
            <div class="nav">
                <img src="/static/icon.jpg" alt="">
                <p>Strangeflix</p>
            </div>
        </header>
        <div class="title">
            <p>ABOUT US</p>
            <span>
                StrangeFlix is the streaming entertainment service with free and paid memberships enjoying TV series,
                documentaries and feature films across a wide variety of genres and languages. Members can watch as much as
                they want, anytime, anywhere, on any internet-connected screen. Members can play, pause and resume watching,
                all without commercials or commitments.
            </span>
        </div>
    </div>

    <div class="t"><b>OUR TEAM</b></div>
    <div class="team">
        <div class="card">
            <img src="../static/img/priyanshu.jpeg">
            <h1>Priyanshu Gupta</h1>
            <p>Founder</p>
            <div class="links">
                <a href="https://github.com/wsLord"><i class="fa fa-github" ></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
            <a class="contact" href="mailto:strangeflix01@gmail.com">Contact</a>
        </div>

        <div class="card">
            <img src="../static/img/sanskar.jpg">
            <h1>Sanskar Jain</h1>
            <p>Co-Founder</p>
            <div class="links">
                <a href="https://github.com/skj-7"><i class="fa fa-github" ></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
            <a class="contact" href="mailto:strangeflix01@gmail.com">Contact</a>
        </div>
        
    </div>
</body>

</html>