@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', cursive;
}
body::before{
    content: " ";
    background:url('/static/adminbg.jpg')repeat center/cover;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 105%;
    left: 0;
    top: 0;
    opacity: 1;
  }
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.nav img
{
    height: 100%;
    width: 60px;
    border-radius: 30px;
}
.nav p{
    font-size: 45px;
    padding-top: 10px;
    padding-left: 3px;
    text-align: center;
    color: blue;
    text-shadow:2px 2px violet;
}
form{
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    margin-right: 40%;
}
input ,textarea,select
{
    width: 300px;
    height: 40px;
}
select
{
    font-size: 20px;
}
.upload
{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    border: 1px solid black;
    width: 300px;
    padding: 10px;
    border-radius: 2px;
}
.upload p
{
    font-size: 23px;
}
.formgroup
{
    display: flex;
    flex-direction: column;
}
.form-group
{
    display: flex;
    flex-direction: column;
    font-size: 23px;
}
.btn
{
    margin-top: 20px;
    width: 140px;
    height: 40px;
    margin-left: 80px;
    font-size: 20px;
    background-color: blue;
    color: white;
    border-radius: 200px;
}
.btn:hover
{
    background-color: whitesmoke;
    color: blue;
    border: 2px solid blue;
}
@media screen and (max-width:730px)
{
    form{
        display: flex;
        flex-direction: column;
        margin-left: 25%;
    }
}
@media screen and (max-width:470px)
{
    input ,textarea,select
{
    width: 250px;
    height: 40px;
}
.upload{
    width: 250px;
}
}